{% load static %}
      
      <!-- Footer-->
      <footer class="footer-area single-section">
        <div class="container">
          <div class="row contact-info">
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-map"></i>
                <p class="info-content"><a href="https://goo.gl/maps/4grNKbXzBAGvKwFp7" target="_blank">Rue des Moulins 99
                  1400 Yverdon-les-Bains.</a></p>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-call"></i>
                <p class="info-content"><a href="tel:+441632967704">+41 78 243 66 45 </a></p>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="single-info"><i class="info-icon icon ion-md-send"></i>
                <p class="info-content"><a href="mailto:alex@example.com">gsmultani11@gmail.com</a></p>
              </div>
            </div>
          </div>
          <div class="row mini-footer">
            <div class="social-medias col-12 col-lg-5"><a class="twitter" href="#0"><i class="icon ion-logo-twitter"></i></a><a class="linkedin" href="https://www.linkedin.com/in/gagan-multani/"><i class="icon ion-logo-linkedin"></i></a><a class="github" href="https://www.linkedin.com/in/gagan-multan"><i class="icon ion-logo-github"></i></a></div>
            <p class="copyright-notice col-12 col-lg-7">Copyright © 2022 Multani.tech, all rights reserved.</p>
          </div>
        </div>
      </footer>