{% load static %}
  
  <!-- Preloader-->
  <div class="preloader">
    <div class="preloader-block">
      <div class="preloader-icon"><span class="loading-dot loading-dot-1"></span><span class="loading-dot loading-dot-2"></span><span class="loading-dot loading-dot-3"></span></div>
    </div>
  </div>
  <div class="main-wrapper">
    <!-- Sidebar-->
    <header>
      <nav class="navbar d-md-block d-lg-none fixed-top mobile-navbar"><button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#mobileNavbarSupportedContent" aria-controls="mobileNavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="nav-btn">Menu</span></button>
        <div class="collapse navbar-collapse order-1" id="mobileNavbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
        </div>
      </nav>
      <nav class="sidebar" data-simplebar>
        <div class="sidebar-header"><a href="#home" data-scroll><img class="img-fluid sidebar-avatar" src="img/profile-avatar.jpg" alt="Profile avatar"></a><span class="sidebar-name">Alex Smith</span>
          <p class="sidebar-status">Available for work</p>
        </div>
        <div class="sidebar-menu">
          <ul class="list-unstyled list-menu">
            <li><a class="nav-link" href="#home-area" data-scroll>Home</a></li>
            <li><a class="nav-link" href="#about-area" data-scroll>About</a></li>
            <li><a class="nav-link" href="#services-area" data-scroll>Services</a></li>
            <li><a class="nav-link" href="#portfolio-area" data-scroll>Portfolio</a></li>
            <li><a class="nav-link" href="#testimonials-area" data-scroll>Clients</a></li>
            <li><a class="nav-link" href="#blog-area" data-scroll>Blog</a></li>
            <li><a class="nav-link" href="#contact-area" data-scroll>Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>