{% extends 'main.html' %}
{% load static %}

{% block content %}

    <div class="sections-wrapper">
      <!-- Sections-->
      <!-- Home-->
      <section class="home-area element-cover-bg" id="home-area" style="background-image:url(../../static/img/home.jpg)">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-lg-8 home-content text-center">
              <h1 class="home-name">Gagan <span>Multani</span></h1>
              <h4 class="cd-headline clip home-headline">I’m a <span class="cd-words-wrapper single-headline"><b class="is-visible">Developer</b><b>Designer</b><b>Freelancer</b></span></h4>
            </div><a href="#about-area" data-scroll>
              <div class="home-mouse">
                <div class="mouse-shape">
                  <div class="mouse-wheel"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- About-->
      <section class="single-section about-area" id="about-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">About me</h2>
                <p class="section-description">Get to know me</p>
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <!-- Picture part-->
            <div class="col-12 col-lg-5 about-img"><img class="img-fluid img-thumbnail" src="{% static 'img/about-img.jpeg' %}" alt="About Picture"></div>
            <!-- Content part-->
            <div class="col-12 col-lg-7 about-content">
              <div class="content-block">
                <h2 class="content-subtitle">Who am i?</h2>
                <h6 class="content-title">I'm Gagan Multani, a Web Developer and an Engineer</h6>
                <div class="content-description">
                  <p>An experienced web developer who has hands-on experience in developing web
                    applications using varieties of tools and frameworks. Successfully delivered tasks by
                    following software development methodology and best practices while working in a team
                    environment. Supportive and enthusiastic team player dedicated to streamlining processes
                    and effectively resolve project issues.</p>
                </div>
                <address class="content-info">
                  <div class="row">
                    <div class="col-12 col-md-6 single-info"><span>Name:</span>
                      <p>Gagan Multani</p>
                    </div>
                    <div class="col-12 col-md-6 single-info"><span>Email:</span>
                      <p><a href="mailto:daniel@example.com">gsmultani11@gmail.com</a></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-md-6 single-info"><span>Age:</span>
                      <p>29</p>
                    </div>
                    <div class="col-12 col-md-6 single-info"><span>From:</span>
                      <p>Yverdon-les-Bains, Switzerland</p>
                    </div>
                  </div>
                </address><a class="btn content-download button-main button-scheme" href="{% static 'downloads/GaganMultaniResume.pdf' %}" role="button">Download CV</a><a class="btn content-work button-main" data-scroll="" href="#portfolio-area" role="button">My Work</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Services-->
      <section class="single-section alt-bg services-area" id="services-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">My Services</h2>
                <p class="section-description">Services i offer to my clients</p>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Prepare database for services and for loop it here -->
            {% for service in services %}
            <!-- Single service-->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="single-service"><i class="icon service-icon ion-logo-{{service.icon}}"></i>
                <h6 class="service-title">{{service.service_title}}</h6>
                <p class="service-description">{{service.service_description|truncatechars:250}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Hire-->
      <section class="single-section element-cover-bg hire-area" id="hire-area" style="background-image:url(img/hire.jpg)">
        <div class="container">
          <div class="row row-custom">
            <div class="col-12 col-md-8 content-part">
              <h1 class="hire-title">Let's work together!</h1>
              <p class="hire-description">I am available to work on exicting projects. Hire me and get your project done.</p>
            </div>
            <div class="col-12 col-md-4 button-part"><a class="btn hire-btn button-main button-scheme" data-scroll="" href="#contact-area" role="button">Hire me</a></div>
          </div>
        </div>
      </section>
      <!-- Portfolio-->
      
      <section class="single-section portfolio-area" id="portfolio-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Portfolio</h2>
                <p class="section-description">Showcasing some of my best work</p>
              </div>
            </div>
          </div>
         
          <!-- Thumbnail list-->
          <div class="portfolio-grid row">
            <!-- Prepare database for projects and for loop it here  -->
            <!-- Single item-->
            {% for project in projects %}
            <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="#item-{{project.id}}">
              <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="{{project.project_thumbnail.url}}">
                <div class="item-content">
                  <h6 class="content-title">{{project.title}}</h6><span class="content-more">More Info</span>
                </div>
              </div>
            </a></div>
            {% endfor %}
            
          </div>
        </div>
        <!-- Single lightbox-->
        {% for project in projects %}
        <div class="lightbox-wrapper" id="item-{{project.id}}">
          <div class="f-basis-100">
            <div class="lightbox-close" data-modal-close><span class="close-btn"><span class="btn-line"></span></span></div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-5">
                <div class="lightbox-gallery owl-carousel owl-theme"><img class="img-fluid item-img" alt="Item" src="{{project.project_thumbnail.url}}"></div>
              </div>
              <div class="col-12 col-lg-7">
                <div class="lightbox-content">
                  <h3 class="content-title">{{project.title}}</h3>
                  <div class="content-description">
                    <p>{{project.description}}</p>
                    
                  </div>
                  <ul class="list-inline content-info">
                    <li class="list-inline-item single-info"><span>Client:</span>
                      <p>{{project.client}}</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Date:</span>
                      <p>{{project.date}}</p>
                    </li>
                    <li class="list-inline-item single-info"><span>Technologies:</span>
                      {% for technology in project.technologies.all %}
                      <p>{{technology}},</p>
                      {% endfor %}
                    </li>
                  </ul><a class="btn content-btn button-main button-scheme" href="{{project.project_link}}" role="button">Visit Project</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
         <!-- Testimonials-->
      <section class="single-section testimonials-area alt-bg" id="testimonials-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Testimonials</h2>
                <p class="section-description">What my clients and colleague think about me</p>
              </div>
            </div>
          </div>
          <div class="owl-carousel owl-theme">
            <!-- Build a review model and for loop here -->
            <!-- Single review-->
            {% for review in reviews %}
            <div class="single-review"><i class="icon ion-md-quote review-icon"></i>
              <p class="review-content">{{review.review}}</p><span class="client-name">{{review.name}}</span>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Contact-->
      <section class="single-section contact-area alt-bg" id="contact-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section-heading">
                <h2 class="section-title">Get in Touch</h2>
                <p class="section-description">Feel free to contact me anytime</p>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Contact form-->
            <div class="col-12">
              <form class="contact-form" id="contact-form" action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                  
                  <div class="col-12 col-md-6 form-group">{{form.name}}</div>
                  <div class="col-12 col-md-6 form-group">{{form.email}}</div>
                  <div class="col-12 form-group">{{form.subject}}</div>
                  <div class="col-12 form-group form-message">{{form.body}}</div>
                  <div class="col-12 form-submit"><button class="btn button-main button-scheme" id="contact-submit" type="submit">Send message</button>
                    <!-- You can output django message in following div -->
                    <p class="contact-feedback"></p> 
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>

  {% endblock content %}
